<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<p>请输入两个数字</p>
<form action="/add/" method="GET">
    a: <input type="text" name="a1" id="a"> <br>
    b: <input type="text" name="b1" id="b"> <br>
    <p>result: <span id="res"></span></p>
    <!--<input type="submit">-->
    <button type="button" id="sum">提交le</button>
    <!--<input type="submit" id="sum">-->
</form>
<p id="list_history"></p>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function(){
        $('#sum').click(function () {
            var a1 = $('#a').val();
            var b1 = $('#b').val();

            $.get('/add/', {'a': a1, 'b': b1}, function (rets) {
                $('#res').css('color','red').html(rets);
                $('#list_history').append(a1+ '+ '+ b1+'='+ rets+ '<br>')

            })
        });
    });
</script>
</body>
</html>